# Ignorar datasets CSV
data/raw/*.csv

# Ignorar arquivos temporários do Power BI
*.pbix.autosave
*.tmp

# Ignorar cache do VS Code
.vscode/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# LOGS
*.log